
#computingOverlay {
  position: fixed; /* Sit on top of the page content */
  /*display: none; Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.5);  Black background with opacity */
  z-index: 2; /*Specify a stack order in case you're using a different order for other elements */
  cursor: wait; /* Add a pointer on hover */
}

.ss-solver-layout {
  display: grid;
  gap: 10px;
  grid-template-columns: 50px 200px auto 250px;
  grid-template-rows: auto;
  grid-template-areas: 
    ". header  header . "
    ". puzzle  puzzle . "
    ". actions select . "
}

.ss-layout-heading {
  grid-area: header;
  text-align: center;
}

.ss-select-sudoku {
  grid-area: select;
}

.ss-select-sudoku div {
  display: flexbox
}

.ss-actions-container {
  grid-area: actions;
  display: flex;
  flex-direction: column;
}

.ss-option-open {
  font-size:16px;
  height: 18px;
  width: 18px;
  background:#a488c9;
  color:black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.ss-option-closed {
  font-size:16px;
  height: 18px;
  width: 18px;
  background:#ab95c7;
  color:black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.ss-forced-cell {
  font-size:48px;
  height: 54px;
  width: 54px;
  background:#a488c9;
  color:black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  border: solid 1px black;
}

.ss-cell-container {
  display: inline-grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  border: solid 1px black;
}

.ss-sudoku-border {
  background: #4120A9;
}

.ss-puzzle-container {
  grid-area: puzzle;
  align-self: center;
  justify-self: center;

  display: flex;
}

.ss-metaboard-info-readout {
  align-self: flex-start;
  margin-left: 50px;
}

.ss-board-container {
  display: inline-grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, auto) 5px repeat(3, auto) 5px repeat(3, auto);
  grid-template-rows: repeat(3, auto) 5px repeat(3, auto) 5px repeat(3, auto);
  border-radius: 30px;
  border: solid 15px indigo;
}

